* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
/*--------------------------------SECTION-GREEN----------------------------------------------*/

.section-green {
  width: 100%;
  height: 100%;
}
/*--------------------------------CONTAINER-GREEN----------------------------------------------*/

.container-geern {
  width: 100%;
}
/*--------------------------------HERO-NAV----------------------------------------------*/

.section-green .hero-nav {
  position: fixed;
  height: 102px;
  background: #ffffff;
  z-index: 1;
  padding: 11.79px 50px 15.71px 46.29px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*--------------------------------HERO-NAV-LOGO----------------------------------------------*/

.section-green .hero-nav .logo {
  margin-right: 133.72px;
}
.section-green .hero-nav .logo img {
  width: 100%;
}
/*---------------------------------MENU-NAV----------------------------------------------*/

.section-green .hero-nav .menu {
  display: flex;
}
.section-green .hero-nav .menu a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #6d6d6d;
  padding: 0 72px 0 0;
}
/*---------------------------------MENU-NAV-BOTTON----------------------------------------------*/

.section-green .hero-nav .botton {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 160px;
  height: 56px;

  background: #ff991d;
  border-radius: 10px;
}
/*------------------------------------SECTION-GREEN-CONTENT-HERO------------------------------------------*/

.section-green .content-hero {
  display: flex;
  margin: auto;
  padding-top: 102px;
}
/*------------------------------------SECTION-GREEN-CONTENT-HERO-BOX-TEXT------------------------------------------*/

.section-green .content-hero .box-text {
  position: relative;
  background: #b6eede;
  width: 52%;
  padding: 114px 0px 0px 62px;
}
/*------------------------------------SECTION-GREEN-CONTENT-HERO--BOX-TITLE----------------------------------------*/

.section-green .content-hero .box-text .box-title {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 125%;
  color: #ffffff;
  width: 125%;
  height: 125px;
  background: #111b33;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/*------------------------------------SECTION-GREEN-CONTENT-HERO--BOX-PARRAF----------------------------------------*/

.section-green .content-hero .box-text .box-parraf {
  max-width: 527px;
  height: 137px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #111b33;
  margin-top: 170px;
  padding-left: 39px;
}
/*------------------------------------SECTION-GREEN-CONTENT-HERO--BOX-IMAGEN----------------------------------------*/

.section-green .content-hero .box-img {
  width: 58%;
}
.box-img img {
  width: 100%;
  height: 100%;
}
/*-----------------------------------MEDIA-QUERYS-SECTION-GREEN-----------------------------------------*/

@media (max-width: 1438px) {
  .section-green .hero-nav .menu a {
    padding: 0 25px 0 0;
  }
  .section-green .content-hero .box-text .box-title {
    font-size: 40px;
  }
}
@media (max-width: 1204px) {
  .section-green .hero-nav .logo {
    margin-right: 40px;
  }
}
@media (max-width: 1110px) {
  .section-green .hero-nav .menu a {
    font-size: 10px;
  }
  .section-green .hero-nav .logo {
    max-width: 200px;
    margin-right: 0px;
  }
  .section-green .content-hero .box-text {
    padding: 114px 0px 0px 20px;
  }
  .section-green .content-hero .box-text .box-title {
    font-size: 30px;
  }
  .section-green .content-hero .box-text .box-parraf {
    font-size: 20px;
    padding-left: 0;
  }
}
@media (max-width: 800px) {
  .section-green .hero-nav .botton {
    display: none;
  }
}
@media (max-width: 700px) {
  .section-green .content-hero .box-text .box-title {
    font-size: 20px;
  }
  .section-green .content-hero .box-text .box-parraf {
    font-size: 15px;
  }
}

@media (max-width: 650px) {
  .section-green .hero-nav .logo {
    max-width: 150px;
    margin: auto;
  }
  .section-green .hero-nav .menu a {
    padding: 0 17px 0 0;
  }
  .section-green .content-hero {
    flex-direction: column;
  }
  .section-green .content-hero .box-text {
    width: 100%;
    padding: 60px 0px 0px 0px;
  }
  .section-green .content-hero .box-tex-parraf {
    display: flex;
    justify-content: center;
  }
  .section-green .content-hero .box-text .box-title {
    width: 100%;
  }
  .section-green .content-hero .box-text .box-parraf {
    text-align: center;
    padding: 0 10px;
  }
  .section-green .content-hero .box-img {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .section-green .hero-nav .menu a {
    display: none;
  }
}
/*-----------------------------SECTION-PANST-JEAN--------------------------------------*/
.section-panst-jean {
  background: #303447;
  height: 100%;
}
/*-----------------------------CONTAINER-JEAN--------------------------------------*/

.container-jean {
  padding: 170px 71px 51px 71px;
}
/*-----------------------------CONTAINER-JEAN-CONTENT-TEXT-------------------------------------*/

.container-jean .content-text {
  text-align: center;
}
/*-----------------------------CONTAINER-JEAN-CONTENT-TEXT-TITLE-JEAN------------------------------------*/

.container-jean .content-text .title-jean {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 500;
  font-size: 75px;
  line-height: 90px;
  text-align: center;
  letter-spacing: -0.011em;
  text-transform: uppercase;
  color: #ffffff;
}
/*-----------------------------CONTAINER-JEAN-CONTENT-TEXT-SUB-TITLE-JEAN------------------------------------*/

.container-jean .content-text .sub-title-jean {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  letter-spacing: -0.011em;
  text-transform: capitalize;
  color: #ffffff;
  margin-top: 6px;
}
/*-----------------------------CONTAINER-JEAN-------------------------------------*/

.content-jean {
  display: flex;
  justify-content: space-around;
  margin-top: 46px;
}
/*-----------------------------CONTAINER-JEAN-BOX-TEX-1------------------------------------*/

.content-jean .box-tex-1 {
  max-width: 315px;
  padding-top: 20px;
}
/*-----------------------------CONTAINER-JEAN-BOX-TEX-1-BOX-TEXT-CONTENT-TITLE-FUNTION----------------------------------*/

.content-jean .box-tex-1 .box-text-content .title-funtion {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -0.011em;
  text-transform: capitalize;
  color: #acbfd8;
}
/*-----------------------------CONTAINER-JEAN-BOX-TEX-1-BOX-TEXT-CONTENT-DART1----------------------------------*/

.content-jean .box-tex-1 .box-text-content .dark1 {
  margin-top: 73px;
}
.content-jean .box-tex-1 .box-text-content .dark {
  margin-top: 39px;
}
/*-----------------------------CONTAINER-JEAN-BOX-TEX-1-BOX-TEXT-CONTENT-PARRAF-FUNTION----------------------------------*/

.content-jean .box-tex-1 .box-text-content .parraf-funtion {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.011em;
  margin-top: 35px;

  color: #ffffff;
}
/*-----------------------------ITEMS-EXPLORE-------------------------------------*/

.items-explore {
  margin-top: 20px;
}
.items-explore a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.011em;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #ffffff;
}
/*-----------------------------CONTENT-JEAN-BOX-TEXT-2-IMAGEN-------------------------------------*/

.content-jean .box-tex-2 img {
  width: 395px;
  height: 490px;
  mix-blend-mode: overlay;
  object-fit: contain;
}
/*-----------------------------CONTAINER-JEAN-KART-------------------------------------*/

.content-jean .kart {
  text-align: end;
}
/*-----------------------------------MEDIA-QUERYS-SECTION-PANST-JEAN----------------------------------------*/

@media (max-width: 990px) {
  .content-jean .box-tex-2 img {
    width: 320px;
    height: 490px;
  }
}
@media (max-width: 750px) {
  .container-jean {
    padding: 100px 71px 51px 71px;
  }
  .content-jean {
    display: block;
  }
  .content-jean .box-tex-1 {
    margin: auto;
    text-align: center;
  }
  .content-jean .box-tex-2 {
    display: flex;
    justify-content: center;
  }
}
/*-----------------------------------SECTION-FOOTER----------------------------------------*/

.section-footer .container-footer {
  display: flex;
  justify-content: center;
  padding: 0 0 25px 0;
  background-image: url(/img/Background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.title-falafull {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 51px;
  text-align: center;
  color: #ffffff;
}
.content-description {
  margin: auto;
  margin-top: 196px;
  text-align: -webkit-center;
}
.botton-falafull {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 277.66px;
  height: 50.41px;
  background: #f7d633;
  border-radius: 10px;
  margin-top: 20.59px;
}
.botton-falafull a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #2e190f;
}
.networks {
  display: flex;
  justify-content: center;
  grid-gap: 20.03px;
  margin-top: 57px;
}
.links-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 104px;
  grid-gap: 30.04px;
}
.footer-page {
  display: flex;
  justify-content: center;
  margin-top: 28px;
}
